// Define variables for your color scheme

// For example:
$light-blue: #C4D2E7;
$blue-grey: #778DB9;
$dark-blue: #073763;
$light-orange: #E8B6AD;
$green: #4DC567;
$gray: #434343;
$light-gray: #F4F4F4;
$baby-blue: #B2FEF0;
$red: #FF0000;
$salmon-pink: #FFCAD3;
$pink: #FF8298;
