// // Specific CSS for your home-page
// .title{
//   color: $white-blue;
//   font-weight: 700;
//   font-size: 35pt;

//   #logo {
//     text-decoration-line: underline;
//     text-underline-offset: 5pt;
//     text-decoration-thickness: 2pt;
//   }
// }
// .white-text{
//   color: $white-blue;
// }
// #search {
//   background-color: $light-blue;
//   color: $gray;
// }




// /* We start with setting the variables: how many stars there should be and an empty variable declaration for later */
// $star-number: 100;
// $current-stars: 10;

// /* Now we just style this one 1px by 1px div to be a round dot fixed in top left corner */
// .auroral-stars {
//   position: fixed;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 1px;
//   height: 1px;
//   border-radius: 50%;
//   background: white;

//   /* We count down from the number of stars that we chose to have: */
//   @while $star-number > 0 {

//     /* And with each iteration we concatenate string with another box shadow declaration.
//     We set random position for the box shadow and random size (from 1 to 2 px).
//     The last thing to add is a comma, but we need to use and unquote function to add that */

//     $current-stars: $current-stars
//                     + (random(100) +vw) (random(100) +vh) 0 (random(2) +px) rgb(255, 255, 255)
//                     + unquote(", ");

//     /* The last box shadow needs to be added without a comma.
//      After we have the whole string ready, we add it to the box-shadow as a value */
//     @if $star-number == 1 {
//       $current-stars: $current-stars
//                       + (random(100) +vw) (random(50) +vh) 0 0 rgb(255, 255, 255);
//       box-shadow: $current-stars;
//     }

//     /* Remember to count down. Otherwise you will end up with an infinite loop */
//     $star-number: $star-number - 1;
//   }
// }

// @keyframes northern {
//   0% {
//     transform: translate(5%, -2%);
//   }

//   25% {
//     transform: translate(10%, 7%);
//   }

//   40% {
//     transform: rotate(-10deg);
//   }

//   60% {
//     transform: translate(7%, -2%);
//   }

//   85% {
//     transform: translate(6%, 3%) rotate(12deg);
//   }

//   100% {
//     transform: none;
//   }
// }

// .home-container {
//   width: 100vw;
//   height: calc(100vh - 66px);
//   overflow: hidden;
//   position: relative;
// }

// .auroral-northern {
//   position: absolute;
//   left: -50%;
//   top: -50%;
//   width: 200%;
//   height: 200%;
//   animation-name: northern;
//   animation-duration: 10s;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, #010619 70%);
// }

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.home-container  {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
    // background-image: url('https://images.pexels.com/photos/17277447/pexels-photo-17277447/free-photo-of-night-skiing.jpeg');
    background-image: url('https://images.pexels.com/photos/4012476/pexels-photo-4012476.jpeg');
    // background-image: url('https://images.pexels.com/photos/3784152/pexels-photo-3784152.jpeg');
  background-size:cover;
        -webkit-animation: slidein 95s;
        animation: slidein 95s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
  h1 {
    font-family: $home-font;
    font-size: 40pt;
  }

  h5 {
    font-family: $home-font;
  }
}

// @-webkit-keyframes slidein {
// from {background-position: center; background-size:800px; }
// to {background-position: -200px -200px; background-size:800px; }
// }

// @keyframes slidein {
// from {background-position: bottom; background-size:800px; }
// to {background-position: -200px -200px; background-size:800px; }
// }

@-webkit-keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

@keyframes slidein {
  from {
    background-position: left; /* Starting position */
  }
  to {
    background-position: right; /* Ending position */
  }
}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.checkin-background {
  width: 100vw;
  height: calc(100vh - 66px);
  margin: 0;
}
