<%# if user exists redirect to a page statement here (else use code below) %>
<div class='home-container'>
  <div class="auroral-northern"></div>
  <div class="auroral-stars"></div>
  <div>
    <%# <div style="height: 190px"></div> %>
    <div style="height: 200px"></div>
    <div class="container p-3">
      <%# <div class="d-flex flex-column justify-content-center align-items-center"> %>
      <h1 class="fw-light text-white m-0 d-flex flex-column justify-content-center align-items-center">Snow Patrol</h1>
      <div style="height: 100px"></div>
      <%# <h1 class="title">Welcome to <span id="logo">Snow Patrol</span></h1> %>
      <h5 class="fw-light text-white m-0">— Search for slopes with perfect snow—</h5>
      <%# <p class="white-text">Search for slopes with perfect snow.</p> %>
    </div>
    <%# <div class="d-grid gap-2 col-8 mx-auto">
      <%= link_to 'Find Ski Resorts', ski_resorts_path, class: 'btn btn-primary', type: 'button', id: 'search'%>
    <%# </div> %>
    <%= render "ski_resorts/search_bar" %>
  </div>
</div>
