<%# if user exists redirect to a page statement here (else use code below) %>
<div class='home-container'>
  <div>
    <div style="height: 50px"></div>
    <div class="container p-3">
      <h1 class="text-white m-0 d-flex flex-column justify-content-center align-items-center">Snow Patrol</h1>
      <div style="height: 20px"></div>
      <h5 class="text-white text-center m-0">—Find Your Perfect POW—</h5>
    </div>
    <div style="height: 50px"></div>
    <%= render "ski_resorts/search_bar" %>
  </div>
</div>
