
@charset "UTF-8";

/* ______________________________ GENERAL-SETTINGS ______________________________ */


.checked-background-color {
  background-image: url('https://images.pexels.com/photos/15835820/pexels-photo-15835820/free-photo-of-snowy-mountain-in-birds-eye-view.jpeg');
  .background-color-style {
    background-color: rgba($color: $dark-blue, $alpha: 0.25);
    height: inherit;
  }
}
