.rate {
  margin: 0 auto;
	// text-align: center;
	width: 120px;
	// height: 200px;
	outline: thin solid light;

}

.emoji {
	font-size: 100px;
  background: lightblue;
  text-align: center;
	// height: 140px;
	// line-height: 140px;
}

input {
	cursor: ew-resize;
  accent-color: blue;
}
