.rate {
  margin: 0 auto;
	// text-align: center;
	width: 120px;
	// height: 200px;
	// outline: thin solid light;
  // background-color: rgba(255,255,255,1);
	// background: linear-gradient(to bottom, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
}

.emoji {
	font-size: 120px;
	height: 170px;
	line-height: 170px;

}

input {
	cursor: ew-resize;
}
