.rate {
  margin: 0 auto;
	// text-align: center;
	width: 120px;
	// height: 200px;
	// outline: thin solid light;

}

.emoji {
	font-size: 120px;
	height: 170px;
	line-height: 170px;

}

input {
	cursor: ew-resize;
}
