.rate {
  margin: 0 auto;
	// text-align: center;
	width: 120px;
	// height: 200px;
	// outline: thin solid light;
  // background-color: rgba(255,255,255,1);
	// background: linear-gradient(to bottom, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
outline: thin solid light;
}

.modal-header.primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.emoji {
	font-size: 100px;
  background: transparent;
  text-align: center;
	// height: 140px;
	// line-height: 140px;
}

input {
	cursor: ew-resize;
  accent-color: blue;
}

// .modal-backdrop {
//   background-color: rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%;
// }
// .modal-content {
//   background-color: rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%;
// }

// .custom-modal {
//   background-color: rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%; /* Replace with your desired background color */
// }
