.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  // background: linear-gradient(-45deg, #23a6d5, #23d5ab)
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	// animation: gradient 15s ease infinite;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
