.nav-bar {
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0px;
  // background: linear-gradient(-45deg, #23a6d5, #23d5ab)
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	// animation: gradient 15s ease infinite;

  .home, .search, .profile{
    font-size: 35px;
  }
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
