// style the whole ul to make it able to scroll horizontally
.cards {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  // class that conects cards to pins
  .card {
    flex: 0 0 100%;
    height: 250px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
  }

  // style each li
  .resort-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    border-radius: 12px;
    scroll-snap-align: start;
    transition: all 0.2s;
    width: 375px;
    border-color: rgb(91, 91, 91);

    .resort-name{
      padding-left: 10px;
      padding-top: 10px;
    }

    .info{
      flex-grow: 1;
    }

    .current-snow{
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      font-size: 17px;
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nosnow{
      background-color: rgba(116, 50, 13, 0.5);
    }
    .slush{
      background-color: rgba(245, 30, 30, 0.5);
    }
    .icy{
      background-color: rgba(255, 153, 0, 0.5);
    }
    .groomed{
      background-color: rgba(236, 240, 27, 0.5);
    }
    .packed{
      background-color: rgba(157, 242, 47, 0.5);
    }
    .pow{
      background-color: rgba(29, 182, 44, 0.5);
    }
    .no-report{
      background-color: rgba(179, 180, 181, 0.5);
    }

    .dif{
      font-size: smaller;
    }
  }

  .resort-card .image {
    object-fit: cover;
    width: 150px;
    height: 175px;
    border-radius: 10px;
    align-self: center;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
}

.shared-map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
}

.condition-text {
  color: #073763; /* Change this to your desired text color */
  font-weight: bold; /* Optional: Apply bold style to the text */
}
