// style the whole ul to make it able to scroll horizontally
.outer-cards-container {
  position: sticky;
  bottom: 0;
  // don't forget to delete padding once JS code is written!
  padding-left: 20px;
}

ul {
  padding-left: 0;
}

.cards {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;


  // class that conects cards to pins
  .show-card {
    height: 250px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    margin: 10px;
    border-radius: 12px;
  }

  // style each li
  .resort-card {
    scroll-snap-align: start;
    transition: all 0.2s;
    border-color: rgb(91, 91, 91);
    padding: 10pt;
    width: 320px;


    .resort-name{
      padding-left: 10px;
      padding-top: 10px;
      //adjust this when time permits
      font-size: larger;
    }

    .info{
      display: flex;
    }

    .current-snow{
      border-radius: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px;
      font-size: 17px;
      display: flex;
      justify-content: flex-start;
    }

    .nosnow{
      background-color: rgba(116, 50, 13, 0.5);
      border-radius: 12px;
      padding: 5%;
    }
    .slush{
      background-color: rgba(245, 30, 30, 0.5);
      border-radius: 12px;
      padding: 5px;
    }
    .icy{
      background-color: rgba(255, 153, 0, 0.5);
      border-radius: 12px;
      padding: 10px;

    }
    .groomed{
      background-color: rgba(236, 240, 27, 0.5);
      border-radius: 12px;
      padding: 10px;

    }
    .packed{
      background-color: rgba(157, 242, 47, 0.5);
      border-radius: 12px;
      padding: 10px;

    }
    .pow{
      background-color: rgba(29, 182, 44, 0.5);
      border-radius: 12px;
      padding: 10px;

    }
    .no-report{
      background-color: rgba(179, 180, 181, 0.5);
      border-radius: 12px;
      padding: 10px;


    }

    .dif{
      font-size: smaller;
    }
  }

  .resort-card .image {
    object-fit: cover;
    width: 150px;
    height: 175px;
    border-radius: 10px;
    align-self: center;
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
}

.shared-map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
}

.condition-text {
  color: #073763; /* Change this to your desired text color */
  font-weight: bold; /* Optional: Apply bold style to the text */
}
