.review-btn {
  background-color: #2D5C9E;
  padding: 13px;
  width: 175px;
  border-radius: 10px;
  text-align: center;
  height: 228px;
  border-color: black 2px;

  .btn {
    color: white !important;
    font-size: 20px !important;

  }
}
