// .info-button {
//   display: inline-block;
//   background-color: #f0f0f0;
//   border: 1px solid #ccc;
//   border-radius: 50%;
//   width: 24px;
//   height: 24px;
//   text-align: center;
//   line-height: 24px;
//   cursor: pointer;
// }

// .info-button i {
//   color: #333;
//   font-size: 16px;
// }

.table-bordered {
  table-layout: fixed;
}

.table-bordered td {
  width: calc(100% / 3); /* Distribute equally among 3 columns */
}

.nosnow{
  background-color: rgba(116, 50, 13, 0.5);
  border-radius: 12px;
  padding: 5%;
}
.slush{
  background-color: rgba(245, 30, 30, 0.5);
  border-radius: 12px;
  padding: 5px;
}
.icy{
  background-color: rgba(255, 153, 0, 0.5);
  border-radius: 12px;
  padding: 10px;

}
.groomed{
  background-color: rgba(236, 240, 27, 0.5);
  border-radius: 12px;
  padding: 10px;

}
.packed{
  background-color: rgba(157, 242, 47, 0.5);
  border-radius: 12px;
  padding: 10px;

}
.pow{
  background-color: rgba(29, 182, 44, 0.5);
  border-radius: 12px;
  padding: 10px;
}
