<div class='home-container'>
  <div style='height: 87%; width: 100%;'>
    <iframe src="https://www.google.com/maps/d/embed?mid=16VPRMZK-XiRKcZk4yzphgNcfpTQ&hl=en&ehbc=2E312F" width="100%" height="100%"></iframe>
  </div>
  <footer>
    <%= link_to "Check out", check_in_path(current_user.active_check_in), data: {turbo_method: :patch}, class:"bby-blue-btn btn btn-secondary btn-block w-100 p-3"%>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Leave your review 📝
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#snowBackdrop">
      Leave your Snow report ❄️
    </button>
  </footer>
</div>
<%# plus the reviews btn
<%# <div class="reviews-display">
    <%# <div class="each bg-light"> %>
<%# <p >Your Snow report:</p>
      <% if !current_user.check_ins.last.snow_reports.nil? && !current_user.check_ins.last.snow_reports.empty? %>
<%# <%= current_user.check_ins.last.snow_reports.last.rating %>
<%# <% end %>
<%# </div>
    <div class="each bg-light">
      <p>Lift Waiting Times:</p>
    </div>
    <div class="each bg-light">
      <p>Crowded?</p>
    </div>
    <div class="each bg-light">
      <p>Location:</p>
    </div>
    <div class="each bg-light">
      <p>Food quality:</p>
    </div>
    <div class="each bg-light">
      <p>Overall price:</p>
    </div>%>
<%= render 'review_modal', review: @review, check_in: current_user.active_check_in %>
<%= render 'snow_report_modal', ski_resort: current_user.active_check_in.ski_resort, snow_report: @snow_report %>
</div>
