<div class="text-center mb-1 pt-2"><strong style='text-decoration: underline'>2 friends checked in!</strong></div>
<div class="profile-list">
  <% usernames = ['justdogeorge', 'snowfiend42', 'xXlil_sebastianXx', 'bruh_what', 'PrincessSparklePony', 'kostas_feet<3', 'Bill Murray', 'white_powder', 'IceLandic Cubicle', 'OhMah_OhMah_Gawd', 'my_name_is_jeff', 'Yann_was_here'] %>
  <% shuffled_usernames = usernames.shuffle %>
  <% selected_usernames = shuffled_usernames.sample(2) %>
  <% selected_usernames.each do |username| %>
    <div class="profile-item">
      <div class="profile-box" style="padding-left: 10px;">
        <%= image_tag "prof#{rand(1..12)}.jpg", alt: "profile", class: "profile-image" %>
      </div>
      <div class="username"><%= username %></div>
    </div>
  <% end %>
</div>
