<div class="card bg-white">
  <div class="d-flex justify-content-between align-items-baseline mx-4 mt-3">
    <div class="resort-info">
      <h3 class="mb-1"> <%= ski_resort.name %> </h3>
      <p class="mt-1"> <%= ski_resort.description %></p>
    </div>
    <% if ski_resort.average_rating == 0 %>
      <i class="fa-regular fa-face-smile" style="color: #000000;"></i>
    <% elsif ski_resort.average_rating == 1%>
      <i class="fa-regular fa-face-smile" style="color: #d71414;"></i>
    <% elsif ski_resort.average_rating == 2%>
      <i class="fa-regular fa-face-smile" style="color: #d77c14;"></i>
    <% elsif ski_resort.average_rating == 3 %>
      <i class="fa-regular fa-face-smile" style="color: #c2b30f;"></i>
    <% elsif ski_resort.average_rating == 4 %>
      <i class="fa-regular fa-face-smile" style="color: #1bc20f;"></i>
    <% else %>
      <i class="fa-regular fa-face-smile" style="color: #143bd7;"></i>
    <% end %>
  </div>
  <%= image_tag "ski_resort.jpg", class: "mx-3 mb-4" %>
</div>
