<form class="form-inline d-flex">
  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2" type="submit">Search</button>
</form>
