<form action="/ski_resorts" method="GET">
  <div class='d-flex p-3' style='position: absolute; width: 100%; z-index: 2;'>
    <div class="input-group border rounded-pill bg-white" >
      <input name='query' type="text" class="border-0 bg-transparent form-control" placeholder="Gunma, Hokkaido...">
      <span type='submit' class="border-0 bg-transparent input-group-text">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
  </div>
</form>
