<div class='m-3' style="position: absolute; z-index: 2;">
  <form action="/ski_resorts" method="GET" class="form-inline d-flex search-bar">
    <input name="query" class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2" type="submit">Search</button>
  </form>
</div>
