<div class='ms-3 me-3 mt-0 mb-2 p-2 bg-light bg-opacity-75 rounded-4'>
  <%= line_chart @snow_ratings,
xtitle: 'Date',
ytitle: 'POW',
min: 0,
max: 5,
curve: true,
points: false,
width: "300px",
height: "300px",
dataset: {
  borderWidth: 10
}
%>
</div>
