<div class="info text-light">
    <div class="caracteristiques d-flex justify-content-around">
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Length</p>
        <p><strong><%= @ski_resort.length.round(2)%>km</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Height</p>
        <p><strong><%= @ski_resort.height.round(2)%>m</strong></p>
      </div>
      <div class="d-flex flex-column">
        <p class="mb-1 mt-2">Temp</p>
        <p><strong><%= @ski_resort.temp.round(1)%>ยบ</strong></p>
      </div>
    </div>
    <div class="available-features">
      <ul class="list-unstyled">
        <% @ski_resort.features.each do |feature, available| %>
          <li>
            <%= feature.to_s.capitalize.gsub("_", " ") %>
            <% if available %>
              <i class="fa-solid fa-circle-check" style="color: #4dc567;"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
